<script>
function delete_record(){
    document.getElementById("destroy_button").click()
}

function enable_disable_edition(enableEditMode){
    
    if (enableEditMode){
        disable = false
    }else{
        disable = true
    }

    document.getElementById('movie_title').disabled         = disable
    document.getElementById('movie_director_id').disabled   = disable
    document.getElementById('movie_shelf_id').disabled      = disable 
    document.getElementById('movie_image_link').disabled    = disable 
    document.getElementsByName('cancel')[0].disabled        = disable 
    document.getElementsByName('commit')[0].disabled        = disable  
    document.getElementsByName('edit')[0].disabled          = !(disable)
    document.getElementsByName('excluir')[0].disabled       = !(disable)


}
</script>


<% if params['action'].eql?("new")%>
    <% disabled = false %>
<% else %>
    <% disabled = true %>
<%end %>
<div style="position: relative" id="movie_form_page">
    <div class="outside-square d-flex">
        <div>
            <% if !@movie.image_link.present? %>
                <%= image_tag(Movie.get_default_image_link, :alt => @movie.title) %>
            <%else%>
                <%= image_tag(@movie.image_link, :alt => @movie.title)%>
            <%end%>
        </div>
        
        <div class="form_frame"> <!-- In the connect method, there is a routine to exclude some css classes from the lables -->

            <%= simple_form_for(@movie, data: {controller: "form", form_target: "formtag"}) do |f| %>
                
                <div class="row">
                    <div class="col-sm-5">
                        <%= f.input :title, label: 'Título:', autofocus: true, input_html:{class: "form-control", autocomplete:"off",data: { controller: 'form', form_target: "titletag",action: 'input->form#showSearchList keydown.down->form#goToSearchList keydown.tab->form#router' }}, disabled: disabled  %>
                        <select id="search_list" class="search_list_hidden" data-controller="form" data-action="keydown->form#router dblclick->form#selectItem" data-form-target="searchList" size="5">

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <%= f.association :director,
                            as: :select,
                            label: 'Diretor:',
                            input_html: {class: "form-control"},
                            disabled: disabled %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <%= f.association :shelf,
                            as: :select,
                            label: 'prateleira',
                            input_html: {class: "form-control"},
                            disabled: disabled %>
                    </div>
                </div>
                <div class="row">        
                    <div class="col-sm-5">
                        <%= f.input :image_link, label: 'Imagem (link): ',
                        input_html: {class: "form-control"},
                        disabled: disabled %>
                    </div>
                </div>
                <div class="row d-flex mt-2">        
                    <div class="col-sm-5 d-flex">
                        <%= f.button :button, type:"button", name: "cancel", onclick: "enable_disable_edition(false);", value: "Cancelar", class:"btn btn-outline-dark btn-sm", style:"width: 168px;", disabled: "true" do %> Cancelar <% end %>
                        <%= f.submit value: "Salvar", class:"btn btn-outline-dark btn-sm", style:"width: 168px;", disabled: disabled%>
                        <%= f.button :button, name: "edit", type:"button", onclick: "enable_disable_edition(true);", value: "Editar", class:"btn btn-outline-dark btn-sm", style:"width: 168px;", disabled: !disabled do %> Editar <% end %>
                        <%= f.button :button, name: "delete", type:"button", onclick: "delete_record()", value: "excluir", class:"btn btn-outline-dark btn-sm", style:"width: 168px;", disabled: !disabled do %> Excluir <% end %>
                    </div>            
                </div>
            
            <% end %>
            <% if @movie.id.present? %>      
                <%= button_to  "DelImg", { action: "destroy", id: @movie.id }, method: :delete, onclick: "return confirm('Vai mesmo excluir este filme?');",  id: "destroy_button", style: "display: none;"%>
            <% end%>
        </div>
    </div>
</div>