<div class="cabecalho">
  <nav class="navbar navbar-default mx-4" role="navigation">
    <% if current_user.nil? %>
      <div class="navbar-header navbar-brand">
        <%= link_to "#" do %>
          <i class="fa-solid fa-film" style="color: white"></i>
          <span class="sistema-descricao sistema-nome hidden-xs hidden-sm">Collections</span>
        <% end %>
      </div>
      <div class="navbar-right text-right" id="menu-principal">
<!--         <p class="acessibilidade" style="margin-top: 0px">
        </p> -->
        <%= link_to "Acesso restrito", user_session_path, class: 'servidor-nome-acesso-restrito'%>
      </div>
    <% else %>
      <div class="navbar-header navbar-brand">
        <%= link_to "#" do %>
          <i class="fa-solid fa-film" style="color: white"></i>
          <span class="sistema-descricao sistema-nome hidden-xs hidden-sm">Collections</span>
        <% end %>
      </div>
      <%= form_with url: search_movies_path, method: :get, class: "form-inline my-2 my-lg-0" do |form| %> 

        
        <% # if the search is activated, the action will be "search" and the related text field will have a different css class %>
        <% if params[:controller].eql?("movies") and params[:action].eql?("search") %>
          <%= form.text_field :search, class: "form-control mr-sm-2 activated-form-control", type: "search", placeholder:"Search: Filtro Ativo" %>
        <% else%>
          <%= form.text_field :search, class: "form-control mr-sm-2", type: "search", placeholder:"Search" %>
        <%end%>

        <%= form.button class: "search-button" do%>
          <i class="fa-solid fa-magnifying-glass"></i>
        <%end%>
        
      <%end%>
      <div class="navbar-right text-right" id="menu-principal">
        <span class= "user-name"><%= current_user.email %></span>
        <ul class= "menu-cabecalho justify-content-center">
          <%= link_to  destroy_user_session_path, method: :delete do %>
            <span class="material-icons sign-out" data-toggle="tooltip" data-placement="bottom" title="Sair com segurança"> power_settings_new </span>
          <% end %>
          <%= link_to my_page_path do %>
            <span class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Minha página">home</span>
          <% end %>
        </ul>
      </div>
    <% end %>
  </nav>
</div>

